@model Car 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if (Model != null)
{
  <h3>Latest car added for sale!!!</h3>
 <partial name="_CarRow" model="Model" />
}
else
{
  <h3>Be the one that adds the first car for sale!!!</h3>
}
